.panda_logo {
  height: 6rem;
  width: auto;
  margin: 0.2rem 2rem;
}

@media (max-width: 768px) {
  .panda_logo {
    height: 3rem;
  }
}

.nav_bar {
  background-color: #111828;
  padding: 20px;
  border-bottom: 2px #364151 solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.all_events_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  margin-right: 1rem;
}

.all_events_text {
  margin: 0px;
  font-size: x-large;
  font-weight: bold;
}
