.feature_title {
  font-size: xx-large;
  color: #93c5fd;
  text-align: center;
  font-weight: bold;
  margin: auto;
}

.feature_title_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
   height: 3rem;
  width: 20rem;
  border: white 2px solid;
  border-radius: 40px;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .feature_title {
    font-size: xx-large;
  }
}
